.App {
  display: flex;
}



.logo {
  z-index: 22222222;
  /* margin: 20px; */
  margin-top: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 700;
  /* text-shadow: rgb(0, 0, 0) 1px 0 10px, rgb(0, 0, 0) 1px 0 10px;/ */
  color: white;
  width: 300px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 8px;
  margin-left: -20px;
  height: 20px;
}

body {
  background-color: rgb(101, 101, 101);
}

.ContentChat {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);

  display: flex;
  position: absolute;

  border: 2px solid rgb(48, 48, 48);
}

.LeftMenu {
  width: 400px;
  height: 747px;
  background-color: #4070ab;
  position: absolute;
  top: 30px;
}

.ChatsName {
  width: 300px;
  height: 50px;
  background-color: #3D6AA0;

  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

.nameChatsName {
  color: white;
  margin-left: 50px;
  padding-top: 15px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  line-height: 10px;

}

.bi-chevron-down {
  color: white;
  margin-left: 135px;
  /* border: 2px solid white; */
  /* padding: 10px; */
  /* border-radius: 50%; */
  font-weight: 700;
  margin-top: 5px;
}

.ButtonShowChats {
  width: 300px;
  height: 50px;
  background-color: rgb(233, 233, 233);
  margin-top: 620px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.textButtonShowChats {
  padding-top: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  color: rgb(48, 48, 48);
  cursor: pointer;
}

.InfoChatHeader {
  width: 1558px;
  height: 40px;
  background-color: #0F2743;
  border-left: 2px solid rgb(48, 48, 48);
  border-bottom: 2px solid rgb(48, 48, 48);
  display: flex;
  position: absolute;
  left: -100px;
}

.userInfoChatHeader {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding-top: 8px;
  padding-left: 10px;
}

.ItemsInfoChatHeader {
  margin-left: 460px;
  display: flex;
  align-items: center;
}

.bi-bell {
  color: white;
  /* margin-top: 9px; */
}

.bi-paperclip {
  color: white;
  /* margin-top: 9px; */
  margin-left: 20px;
  transform: rotate(30deg)
}



.buttonItemsInfoChatHeader {
  padding: 6px;
}


.addNewChats {
  font-size: 35px;
  z-index: 4000;
  position: relative;
  background-color: rgb(48, 48, 48);
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: -140px;
  margin-top: 30px;
  border: 2px solid white;
}

.plus {
  top: -4px;
  position: relative;
}

.messageContentChat {
  z-index: 3000;
  color: white;
  position: relative;
  margin-top: 200px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.messageMessageChats {
  display: flex;
  flex-direction: column;
  z-index: 3000;
  position: relative;
  text-align: center;
  color: white;
  margin-top: 350px;
  margin-left: 450px;
  font-size: 30px;
}

.messMessageChats {
  font-size: 20px;
}

.MessageChats {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  opacity: 80%;
}

.chatsLists {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.ChatsList {
  z-index: 10000;
  position: relative;
  left: -140px;
  top: 10px;
  color: white;
  background-color: rgb(48, 48, 48);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  border-style: inset;
}

.Bell {
  z-index: 10000;
  position: relative;
  left: -140px;
  top: 20px;
  color: white;
  background-color: rgb(48, 48, 48);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  border-style: dotted;
}

.burger {}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

header {
  display: flex;
  justify-content: flex-end;
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-left: 20px;
  color: white;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  transition: all 0.5s;
  color: white;

}